<div class="modal-content">
  <div class="modal-body">
    <a (click)="closeModal()" type="button" class="close" aria-label="Close">
      <i class="ri-close-line"></i>
    </a>

    <div class="row">
      <div class="col-12 content-title">
        <span *ngIf="data?.showDangerIcon" class="danger-icon">
          <i class="ri-close-circle-line"></i>
        </span>
        <span *ngIf="data?.showWarningIcon" class="warning-icon">
          <i class="ri-error-warning-line"></i>
        </span>
        <span *ngIf="data?.showSuccessIcon" class="success-icon">
          <i class="ri-checkbox-circle-line"></i>
        </span>
        <h2 [innerHTML]="title" class="title"></h2>
      </div>

      <div class="col-12">
        <p *ngIf="!description" class="description-info">Desculpe, ocorreu uma falha, tente novamente ou entre em contato com o suporte.</p>
        <p *ngIf="descriptionIsString && description" [innerText]="description" class="description-info"></p>
        <ul *ngIf="!descriptionIsString && description">
          <li *ngFor="let data of description">
            <span [innerText]="data" class="description-info"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="content-footer">
      <button *ngIf="data?.showCancelBtn" id="cancelAlert" type="button" class="btn btn-close" (click)="closeModal()">
        <span>{{data?.customTxtCancel ? data.customTxtCancel : 'Fechar'}}</span>
      </button>
      <button *ngIf="data?.showConfirmBtn" id="closeAlert" type="submit" class="btn btn-primary" (click)="confirmContinue()">
        <span>{{data?.customTxtConfirm ? data.customTxtConfirm : 'Confirmar'}}</span>
      </button>
    </div>
  </div>
</div>
